@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: linear-gradient(
    90deg,
    rgba(89, 0, 255, 1) 0%,
    rgba(14, 136, 255, 1) 23%,
    rgba(0, 87, 255, 1) 61%,
    rgba(103, 101, 249, 0.9516129032258065) 87%,
    rgba(0, 9, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.green__gradient {
  background: radial-gradient(
    55.41% 45.61% at 50% 50%,
    rgba(0, 249, 11, 100) 100%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(900px);
}

.blue__gradient {
  background: radial-gradient(
    54.2% 44.6% at 50% 50%,
    rgba(140, 87, 254, 100) 100%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(900px);
}
